@model Aplicacion_Web_3.Models.tblHorasActividades

@{
    ViewBag.Title = "EditarHoras";
}

<h2>EditarHoras</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblHorasActividades</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.HorAct_IdHoras)

        <div class="form-group">
            @Html.LabelFor(model => model.HorAct_Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorAct_Fecha, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HorAct_Fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HorAct_CantidadHoras, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HorAct_CantidadHoras, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HorAct_CantidadHoras, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             <div class="col-md-10">
                @Html.HiddenFor(model => model.HorAct_IdActividad)
                @Html.ValidationMessageFor(model => model.HorAct_IdActividad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Volver", "InicioHoras", new { HorAct_IdActividad = Model.HorAct_IdActividad})
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
