@model Aplicacion_Web_3.Models.tblActividades

@{
    ViewBag.Title = "EditarActividad";
}

<h2>EditarActividad</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tblActividades</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idActividad)

        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionActividad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionActividad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DescripcionActividad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ActIdUsuario)
                @Html.ValidationMessageFor(model => model.ActIdUsuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Modificar" class="btn btn-create" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "InicioActividad")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
